@font-face {
  font-family: 'Open Sans';
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  font-weight: regular;
  font-style: normal;
}

html, body {
  padding:0; 
  margin:0;
}
.header {
  /*width: 100%;*/
  height: 450px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-weight: Regular;
}
.logo {
  width: 185px;
  height: 50px;
  position: relative;
  z-index: 1;
  padding-left: 100px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-top: 25px;
  
}
.head-link {
  text-decoration: none;
  color: white;
}
.blog-name-link {
  text-decoration: none;
  color: black;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 45px; /*Точное значение*/
  line-height: 75px; /*Точное значение*/
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
  color: white;
  width: 720px; /*Ширина для расположения в две строки, конечная*/
  display: flex;
  position: relative;
  top: 80px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
body {
  overflow-x: hidden;
}
.items {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  position: relative;
  margin-top: 0;
  padding-right: 150px;
  z-index: 1;
  padding-left: 0;
  padding-top: 20px;
}
.item {
  padding: 0;
  padding-left: 35px;
  font-size: 13px;
}

.header::after {
  content: "";
  background-color: #000000;
  opacity: 0.45;  /*Поставить 0,45*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 450px;
  z-index: ;
}
.card-img { /*Картинка для блока новости*/
  position: relative; /*padding: 0 30px 30px 0;, если что-то пойдёт не так*/
  width: 381px;
  height: 294px;
  z-index: 2;
}

.post {
  display: flex;
  width: 800px;
  height: content-box; /*Высота равняется контенту блока*/
  font-family: 'Open Sans', sans-serif;
  margin-top: 55px;
  font-weight: 'Regular';
  margin-left: 20px;
}
.tags {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0 0 0 0; 
  padding-inline-start: 0; /*сбрасываю отступ от картинки*/
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #b59f5b;
}
.tag {
  margin: 0 30px 0 0;
  color: #b59f5b;
}
.tag-link {
  text-decoration: none;
  color: #b59f5b;
}
.content-wrapper {
	width: 1200px;
	padding: 0 15px;
	margin-left: auto;
  margin-right: auto;
	display: flex;
	justify-content: space-between;
}
.container-info {
  float: right;
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 0 0 0 30px;
}
.card-name {
  width: 330px;
  text-transform: uppercase;
}
.more-info {
  list-style-type: none;
  display: flex;
  flex-direction: row; 
  padding-inline-start: 0; /*сбрасываю отступ от картинки*/
}
.time {
  padding: 0 14px 0 0;
  color: #888888;
  font-weight: 'Regular';
}
.author {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-family: inherit;
}
.container-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 'Regular';
  font-size: 15px;
  line-height: 22px;
}
aside {
  width: 272px; /*  для доработки применить это свйоство height: 1500px; /*должно быть 600, поменять обратно*/
  font-family: 'Open Sans', sans-serif;

}
.name-little {
  font-size: 14px;
  font-weight: Bold; /*line-height: 29.15px; удалил за ненадобностью*/
  text-transform: uppercase;
  text-align: center;
  margin: 0; /*Нужно доработать верхний отступ от блока*/
}
.name-little::after {
  content: "";
  display: block;
  position: center; /*доработать чтобы стал посередине*/
  width: 66px;
  border-bottom: 4px solid #e1d9bd;
  padding-top: 10px;
  
  margin-left: auto;
  margin-right: auto;
}
.little-container {
  padding-top: 45px;
}
.little-section {
  display: flex;
  width: 270px;
  margin: 25px 0 20px 0;
}
.link-section {
  text-decoration: none;
  color: black;
}

.information {
  box-sizing: content-box;
  width: 200px;
  height: 70px;
  padding-left: 18px;
  font-family: 'Open Sans', sans-serif;

}
.time-1 {
  margin: 0;
  font-size: 12px;
  color: #979797
}
h4 {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 0;
}
.search {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
}
.searching {
  display: flex;
  box-sizing: border-box;
  background-color: #f3f7f5;
  width: 224px; /*224=(272-48(ширина картинки поиска)*/
  height: 48px;
  border: none;
  padding: 18px; /*Отступ для фразы найти*/
  font-size: 13px;
  line-height: 39px;
  font-family: 'Open Sans', sans-serif;
}
.visually-hidden { /*Не забудь заняться этим. Но я не понял что это*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 
.button-search {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  box-sizing: border-box;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}
.subscribing {
  box-sizing: border-box;
  height: 48px;
  width: 272px;
  background-color: #f3f7f5;
  border: none;
  padding: 18px; /*Отступ для фразы найти*/
  font-size: 13px;
  line-height: 39px;
  margin-top: 40px; /*доработать*/
  font-family: 'Open Sans', sans-serif;
}
.subscribe {
  box-sizing: border-box;
  width: 272px;
  height: 48px;
  margin-top: 18px;
  margin-bottom: 60px;
  background-color: #b59f5b;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  line-height: 39px;
  cursor: pointer;
}
.item-tags {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  padding-left: 0px;
  margin-bottom: 60px;
}
.item-tag {
  display: block;
  box-sizing: border-box;
  border: 3px solid #f3f7f5;
  padding: 6px 14px;
  margin: 0 6px 6px 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: Bold;
  font-size: 12px;
}
.tag-link-aside {
  text-decoration: none;
  color: black;
}
.subject {
  list-style-type: none;
  line-height: 39px;
  font-family: 'Open Sans', sans-serif;
  font-weight: Bold;
  font-size: 14px;
  border-bottom: 1px solid #ededed;
  padding-left: 0;
  
}
.subject-link {
  text-decoration: none;
  color: black;
}
.subject-list {
  display: block;
  padding-inline-start: 0;
}
.sup {
  vertical-align: super;
  color: #b59f5b;
  font-size: 12px;
}
.footer-block {
  box-sizing: border-box;
  position: relative;
  margin-left: auto; /*magin-left: 245px; был но не посередине*/
  margin-right: auto;
  margin-top: 65px;
  width: 1160px;
  height: 85px;
  margin-bottom: 70px;
  background-color: #f3f7f5;
}

.copyright {
  text-decoration: none;
  color: #999999;
  display: block; 
  text-align:center;
  margin: 75px;
  padding-bottom: 40px;
}
.social-container {
  position: relative;
  left: 38%
}
.social-network-list {
  display: flex;
  flex-direction: row;
  padding-inline-start: 0px;
}
li {
  list-style-type: none
}
.social-network-icon {
display: block;
width: 24px;
height: 24px;
background-repeat: no-repeat;
background-position: center center;
background-size: 20px;
margin-top: 30px;
padding-right: 30px;
}
.social-network-twitter {
background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}
.social-network-pinterest {
background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}

.social-network-facebook {
background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}

.social-network-instagram {
background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}

.social-network-tumblr {
background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}
